/* --------------------------------------------------------------- General specs */

html, body {
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  background: -webkit-linear-gradient (white, red, blue, yellow);
  background: -o-linear-gradient (white, red, blue, yellow);
  background: -moz-linear-gradient (white, red, blue, yellow);
  background: linear-gradient (white, red, blue, yellow);
}

p {
  color: black;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
}

p b { font-weight: 700; }

a:link {
  color: #cc6600;
  text-decoration: underline;
  -webkit-animation: rainbow 1s infinite;
  animation: rainbow 1s infinite;
}

/* --------------------------------------------------------------- Typefaces */

.title {
  font-family: 'Corben', sans-serif;
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;
}

.wide {
  font-family: 'Corben', sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
}

.narrow {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 0.8em;
}

.center {
  text-align: center;
}

.purple {
  color: #9900ff;
}

.green {
  color: #00ff00;
}

.orange {
  color: #9900ff;
}

/* --------------------------------------------------------------- Page sections */

.frontendbox1 {
  margin: 0 70% 30% 0;
  border: 50px solid black;
  background-color: #9900ff;
}

.frontendbox2 {
  margin: 5% 0 30% 35%;
  border: 50px solid black;
  background-color: #9900ff;
  float: right;
}

.managerbox1 {
  margin: 5% 40% 35% 0;
  border: 50px solid black;
  background-color: #00ff00;
}

.managerbox2 {
  margin: 0 0 30% 65%;
  border: 50px solid black;
  background-color: #00ff00;
  float: right;
}

.mebox1 {
  margin: 0 50% 30% 0;
  border: 50px solid black;
  background-color: #ff9933;
}

.mebox2 {
  margin: 5% 0 35% 55%;
  border: 50px solid black;
  background-color: #ff9933;
  float: right;
}

/* --------------------------------------------------------------- Animations */

@-webkit-keyframes rainbow {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

@keyframes rainbow {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
