/* --------------------------------------------------------------- General specs */

html, body {
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  color: black;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  font-family: 'Droid Serif', serif;
  padding: 0 5% 0 5%;
}

p b { font-weight: 700; }

a:link {
  color: #cc6600;
  text-decoration: underline;
  -webkit-animation: rainbow 1s infinite;
  animation: rainbow 1s infinite;
}

/* --------------------------------------------------------------- Typefaces */

.title {
  font-family: 'Corben', sans-serif;
  font-weight: 700;
  font-size: 7em;
  line-height: 1em;
}

.wide {
  font-family: 'Corben', sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
}

.narrow {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 0.8em;
}

.center {
  text-align: center;
}

.purple {
  color: #9900ff;
}

.green {
  color: #00ff00;
}

.orange {
  color: #ff9933;
}

/* --------------------------------------------------------------- Page sections */

#intro {
  border: dotted 1px black;
  background: -webkit-linear-gradient(white, red);
  background: -o-linear-gradient(white, red);
  background: -moz-linear-gradient(white, red);
  background: linear-gradient(white, red);
  width: 100%;
  height: 100%;
}

.vert-align {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#frontend {
  border: dotted 1px black;
  background: -webkit-linear-gradient(red, blue);
  background: -o-linear-gradient(red, blue);
  background: -moz-linear-gradient(red, blue);
  background: linear-gradient(red, blue);
  overflow: auto;
}

.frontendbox1 {
  width: 30%;
  border: 50px solid black;
  background-color: #9900ff;
  float: left;
}

.frontendbox2 {
  width: 65%;
  border: 50px solid black;
  background-color: #9900ff;
  float: right;
}

#manager {
  border: dotted 1px black;
  background: -webkit-linear-gradient(blue, yellow);
  background: -o-linear-gradient(blue, yellow);
  background: -moz-linear-gradient(blue, yellow);
  background: linear-gradient(blue, yellow);
  overflow: auto;
}

.managerbox1 {
  width: 60%;
  border: 50px solid black;
  background-color: #00ff00;
  float: left;
}

.managerbox2 {
  width: 35%;
  border: 50px solid black;
  background-color: #00ff00;
  float: right;
}

#me {
  border: dotted 1px black;
  background: -webkit-linear-gradient(yellow, white);
  background: -o-linear-gradient(yellow, white);
  background: -moz-linear-gradient(yellow, white);
  background: linear-gradient(yellow, white);
  overflow: auto;
}

.mebox1 {
  width: 40%;
  border: 50px solid black;
  background-color: #ff9933;
  float: left;
}

.mebox2 {
  width: 55%;
  border: 50px solid black;
  background-color: #ff9933;
  float: right;
}

/* --------------------------------------------------------------- Animations */

@-webkit-keyframes rainbow {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

@keyframes rainbow {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
