html {
  background-color: gray;
  font-family: Garamond, Times New Roman;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  top: 10%;
  left: 0;
  right: 80%;
  text-align: right;
  padding: 0;
  margin: 0;
}

.menu {
  background-color: black;
  margin-bottom: 1em;
  padding: .3em 2em .3em 0;
  border-radius: 0 3em 3em 0;
  color: white;
}

.menu:hover {
  background-color: #9966ff;
}

header {
  background-color: #ffffcc;
  top: 5%;
  width: 50%;
  padding: 1em;
  margin: auto;
  margin-bottom: 2em;
  border-radius: 1em;
  text-align: center;
}

article {
  background-color: #ffffcc;
  width: 50%;
  padding: 1em;
  margin: auto;
  border-radius: 1em;
}

p {
  font-family: Garamond, Times New Roman;
  font-size: 1em;
}

a:link {
  color: #9966ff;
}

a:visited {
  color: #6633cc;
}

a:hover {
  color: #cc99ff;
}

a:active {
  color: #ffffff;
}

h1 {
  font-size: 2em;
  font-variant: small-caps;
}

h2 {
  font-size: 1.5em;
    font-variant: small-caps;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1.5em;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.white {
  color: white;
}