html {
  background-color: gray;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  top: 5%;
  left: 0;
  right: 80%;
  text-align: right;
  padding: 0;
  margin: 0;
}

.menu {
  background-color: black;
  margin-bottom: 1em;
  padding: .1em 1.5em .1em 0;
  color: #ffffcc;
  border-radius: 0 2em 2em 0;
}

header {
  background-color: #ffffcc;
  top: 5%;
  width: 50%;
  padding: 1em;
  margin: auto;
  margin-bottom: 2em;
  border-radius: 1em;
  text-align: center;
}

article {
  background-color: #ffffcc;
  width: 50%;
  padding: 1em;
  margin: auto;
  border-radius: 1em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

a:link {
  color: #9966ff;
}

a:visited {
  color: #999999;
}

a:hover {
  color: #cc99ff;
}

a:active {
  color: #ffffff;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 900;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 900;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.purple {
  background-color: #6633cc;
}