html {
  background-color: gray;
  font-family: Garamond, Times New Roman;

}

nav {
  position: fixed;
  top: 30%;
  left: 0%;
  right: 20%;
  text-align: right;
}

.menu {
  background-color: black;
  margin: 1em;
  padding: 1em;
  border-radius: 0 1em 1em 0;
  color: white;
}

.menu:hover {
  background-color: #9966ff;
}

header {
  background-color: #ffffcc;
  top: 5%;
  width: 50%;
  margin: auto;
  border-radius: 1em;
  text-align: center;
}

article {
  background-color: #ffffcc;
  width: 50%;
  margin: auto;
  border-radius: 1em;
}

p {
  font-family: Garamond, Times New Roman;
  font-size: 1em;
}

a:link {
  color: #9966ff;
}

a:visited {
  color: #6633cc;
}

a:hover {
  color: #cc99ff;
}

a:active {
  color: #ffffff;
}

h1 {
  font-size: 2em;
  text-transform: capitalize;
}

h2 {
  font-size: 1.5em;
  text-transform: capitalize;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

ul {
  list-style-type: none;
}